.toggle-btn {
    background-color:#242424;
    
    border-radius: 99px;
    width : 50px;
    height:28px;
    cusor:pointer;
    position :relative;
}

.toggle-btn .thumb {
    width :28px;
    height:28px;
    background-color:rgb(255, 255, 255);
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-btn.toggled {
    background-color: rgb(225, 163, 1);;
}
  
.toggled-btn:hover {
    border-color: #6f6f6f;
}
  
.toggle-btn.toggled .thumb {
    left: calc(50px - 25px);
  }
